/* line 1, ../sass/_react.scss */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/_react.scss */
a, button, input {
  cursor: pointer;
}

/* line 3, ../sass/_react.scss */
a, a:link, a:visited, a:focus, a:active {
  text-decoration: none;
  outline-style: none;
}

/* line 5, ../sass/_react.scss */
* ::selection {
  background: #90d7ec;
  color: #11264f;
}
/* line 6, ../sass/_react.scss */
* ::-moz-selection {
  background: #90d7ec;
  color: #11264f;
}
/* line 7, ../sass/_react.scss */
* ::-webkit-selection {
  background: #90d7ec;
  color: #11264f;
}

/* line 4, ../sass/nav.scss */
.nav {
  display: -webkit-flex;
  display: flex;
  list-style: none;
}

/* line 10, ../sass/nav.scss */
.nav-fill {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
/* line 15, ../sass/nav.scss */
.nav-fill a {
  display: block;
  padding: 10px 50px;
  background: #f00;
}
