@import 'compass';
@import 'react';

.nav{
	@include display-flex;
	list-style: none;

}

.nav-fill{
	@include display-flex;
	flex-flow: row wrap;
	width: 100%;

	a{
		display: block;
		padding: 10px 50px;
		background: #f00;
	}
}