/* line 8, ../sass/container.scss */
.wrap {
  width: 1000px;
  margin: 0 auto;
}

/* line 12, ../sass/container.scss */
.logo {
  height: 60px;
  width: 1000px;
  margin-top: 20px;
}

/* line 17, ../sass/container.scss */
.logo_left {
  float: left;
}

/* line 20, ../sass/container.scss */
form {
  float: right;
  background-color: #fff;
  margin-top: 10px;
  font-size: 0;
}

/* line 26, ../sass/container.scss */
.search-input {
  width: 200px;
  height: 23px;
  padding: 0 10px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
}

/* line 37, ../sass/container.scss */
.search-button {
  border: 0;
  cursor: pointer;
  height: 25px;
  width: 50px;
  background-color: #333;
  vertical-align: top;
}
/* line 44, ../sass/container.scss */
.search-button p {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

/* line 51, ../sass/container.scss */
.nav {
  height: 40px;
  width: 1000px;
  background-color: #bc1e1e;
}

/* line 56, ../sass/container.scss */
.nav-left {
  float: left;
}
/* line 58, ../sass/container.scss */
.nav-left li {
  list-style: none;
  float: left;
  padding: 15px;
  line-height: 10px;
}
/* line 63, ../sass/container.scss */
.nav-left li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* line 70, ../sass/container.scss */
.nav-right {
  float: right;
}
/* line 72, ../sass/container.scss */
.nav-right li {
  list-style: none;
  float: left;
  padding: 15px;
  line-height: 10px;
}
/* line 77, ../sass/container.scss */
.nav-right li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* line 84, ../sass/container.scss */
.ad {
  height: 400px;
  overflow: hidden;
  clear: both;
}

/* line 90, ../sass/container.scss */
.news {
  width: 1000px;
  height: 250px;
}

/* line 94, ../sass/container.scss */
.news-list {
  float: left;
  padding: 30px 45px 0 45px;
}
/* line 97, ../sass/container.scss */
.news-list p {
  width: 105px;
}
/* line 99, ../sass/container.scss */
.news-list p a {
  color: #bc1e1e;
  text-decoration: none;
  font-size: 22px;
}
/* line 103, ../sass/container.scss */
.news-list p a:hover {
  text-decoration: underline;
  color: #bc1e1e;
}
/* line 109, ../sass/container.scss */
.news-list li {
  padding: 10px 10px 10px 5px;
}
/* line 111, ../sass/container.scss */
.news-list li a {
  font-size: 18px;
  text-decoration: none;
  color: #333;
}
/* line 115, ../sass/container.scss */
.news-list li a:hover {
  text-decoration: underline;
  color: #bc1e1e;
}

/* line 122, ../sass/container.scss */
.table-line {
  width: 1px;
  height: 160px;
  background-color: #bc1e1e;
  float: left;
  margin: 10px 15px 0 0;
}

/* line 129, ../sass/container.scss */
.list-text {
  height: 20px;
  clear: both;
}
/* line 132, ../sass/container.scss */
.list-text p {
  padding: 10px 0 0 0;
}
/* line 134, ../sass/container.scss */
.list-text p a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  float: left;
}
/* line 139, ../sass/container.scss */
.list-text p a:hover {
  color: #bc1e1e;
}

/* line 146, ../sass/container.scss */
.r-bar {
  float: right;
}
/* line 150, ../sass/container.scss */
.r-bar a:hover {
  text-decoration: underline;
}

/* line 156, ../sass/container.scss */
.line {
  width: 120px;
  height: 1px;
  background-color: #bc1e1e;
  clear: both;
}

/* line 162, ../sass/container.scss */
.area-left {
  height: 150px;
  width: 400px;
  clear: both;
  float: left;
}
/* line 167, ../sass/container.scss */
.area-left p {
  padding: 10px;
}
/* line 169, ../sass/container.scss */
.area-left p a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
/* line 173, ../sass/container.scss */
.area-left p a:hover {
  color: #bc1e1e;
}

/* line 179, ../sass/container.scss */
.area-right {
  float: left;
}
/* line 181, ../sass/container.scss */
.area-right p {
  padding: 10px;
}
/* line 183, ../sass/container.scss */
.area-right p a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
/* line 187, ../sass/container.scss */
.area-right p a:hover {
  color: #bc1e1e;
}

/* line 194, ../sass/container.scss */
.top-ul ul {
  padding: 10px 0 0 0;
}
/* line 196, ../sass/container.scss */
.top-ul ul li {
  float: left;
  padding: 10px 0 0 35px;
}
/* line 199, ../sass/container.scss */
.top-ul ul li a {
  text-decoration: none;
  color: #333;
}
/* line 202, ../sass/container.scss */
.top-ul ul li a:hover {
  color: #bc1e1e;
}

/* line 210, ../sass/container.scss */
.bottom-ul ul {
  clear: both;
  padding: 20px 0 0 0;
}
/* line 214, ../sass/container.scss */
.bottom-ul ul li {
  float: left;
  padding: 10px 0 0 35px;
}
/* line 217, ../sass/container.scss */
.bottom-ul ul li a {
  text-decoration: none;
  color: #333;
}
/* line 220, ../sass/container.scss */
.bottom-ul ul li a:hover {
  color: #bc1e1e;
}

/* line 229, ../sass/container.scss */
.b-pic ul {
  width: 1000px;
  padding: 0 0 0 20px;
}
/* line 232, ../sass/container.scss */
.b-pic ul li {
  list-style: none;
  float: left;
  padding: 20px;
}
/* line 239, ../sass/container.scss */
.b-pic ul p a {
  text-decoration: none;
  color: #333;
}
/* line 242, ../sass/container.scss */
.b-pic ul p a:hover {
  color: #bc1e1e;
}

/* line 251, ../sass/container.scss */
.c-pic ul {
  width: 1000px;
  padding: 0 0 0 20px;
}
/* line 254, ../sass/container.scss */
.c-pic ul li {
  list-style: none;
  float: left;
  padding: 20px;
}
/* line 261, ../sass/container.scss */
.c-pic ul p a {
  text-decoration: none;
  color: #333;
}
/* line 264, ../sass/container.scss */
.c-pic ul p a:hover {
  color: #bc1e1e;
}

/* line 271, ../sass/container.scss */
.text {
  clear: both;
}
/* line 273, ../sass/container.scss */
.text ul {
  float: left;
  padding: 0 0 0 40px;
}
/* line 276, ../sass/container.scss */
.text ul li {
  padding: 10px 0 20px 0;
}
/* line 278, ../sass/container.scss */
.text ul li a {
  text-decoration: none;
  color: #333;
}
/* line 281, ../sass/container.scss */
.text ul li a:hover {
  color: #bc1e1e;
}

/* line 289, ../sass/container.scss */
.d-pic ul {
  width: 1000px;
  padding: 0 0 0 20px;
}
/* line 292, ../sass/container.scss */
.d-pic ul li {
  list-style: none;
  float: left;
  padding: 20px 40px 20px 20px;
}
/* line 298, ../sass/container.scss */
.d-pic ul p {
  padding: 10px 0 0 0;
}
/* line 300, ../sass/container.scss */
.d-pic ul p a {
  text-decoration: none;
  color: #333;
}
/* line 304, ../sass/container.scss */
.d-pic ul p a:hover {
  color: #bc1e1e;
}

/* line 311, ../sass/container.scss */
.footer {
  width: 100%;
  background-color: #eee;
  height: 300px;
  clear: both;
}

/* line 318, ../sass/container.scss */
.footer-box {
  width: 1000px;
  margin: 0 auto;
  height: 300px;
  clear: both;
}
/* line 323, ../sass/container.scss */
.footer-box p {
  color: #333;
  font-size: 12px;
  padding: 10px 0 0 35px;
}

/* line 331, ../sass/container.scss */
.footer-list ul li {
  float: left;
  padding: 35px 35px 10px 35px;
}
/* line 334, ../sass/container.scss */
.footer-list ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
/* line 338, ../sass/container.scss */
.footer-list ul li a:hover {
  color: #bc1e1e;
}

/* line 346, ../sass/container.scss */
.footer-line {
  width: 900px;
  height: 1px;
  background-color: #ccc;
  clear: both;
  margin: 15px 0 0 35px;
}

/* line 353, ../sass/container.scss */
.footer-link {
  float: left;
  padding: 0 65px 0 0;
}
/* line 356, ../sass/container.scss */
.footer-link p {
  padding: 10px 10px 0 35px;
}
/* line 358, ../sass/container.scss */
.footer-link p a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
/* line 362, ../sass/container.scss */
.footer-link p a:hover {
  color: #bc1e1e;
}
/* line 368, ../sass/container.scss */
.footer-link ul {
  padding: 10px 10px 0 35px;
}
/* line 370, ../sass/container.scss */
.footer-link ul li {
  padding: 5px 0 0 0;
}
/* line 372, ../sass/container.scss */
.footer-link ul li a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}
/* line 376, ../sass/container.scss */
.footer-link ul li a:hover {
  color: #bc1e1e;
}

/* line 384, ../sass/container.scss */
.link-ul {
  float: left;
  margin-bottom: 20px;
}
