@import 'compass';
@import 'compass/css3/animation';
@import 'susy';

@include keyframes (titlelft)
{
    0%
    {
        opacity: 0;
        @include translateX(-100%,0);
    }
    100%
    {
        opacity: 1;
        @include translateX(0,0);
    }
}

//左边飞入


@include keyframes (titlergt)
{
    0%
    {
        opacity: 0;
        @include translateX(100%,0);
    }
    100%
    {
        opacity: 1;
        @include translateX(0,0);
    }
}
//右边飞入

@include keyframes (topdown)
{
    0%
    {
        @include translateY(-100%,0);
    }
    100%
    {
        @include translateY(0,0);
    }
}
//降落



@include keyframes (opacity)
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

//淡入


@include keyframes (close)
{
    0%
    {
        @include rotateX(0);
    }
    25%
    {
        @include rotateX(89deg);
    }
    50%
    {
        width: 0;
    }
    100%
    {
        width: 100%;

        @include rotateX(89deg);
    }
}

//关闭

@include keyframes(shake)
{
    0%{
        @include rotateZ(0);
    }

    25%{
        @include rotateZ(10deg);
    }

    50%{
        @include rotateZ(0deg);

    }
    
    75%{
        @include rotateZ(-10deg);
    }

    100%{
        @include rotateZ(0);
    }
}

//抖动

@include keyframes (duang)
{
    0%{
        @include translateY(0);
    }

    25%{
        @include translateY(-50%);
    }

    50%{
        @include translateY(0);
    }

    75%{
        @include translateY(-20%);
    }

    100%{
        @include translateY(0);
    }

}

//duang duang duang

@include keyframes (reversal-Y)
{
    0%{
        @include rotateY(0);
    }

    100%{
        @include rotateY(360deg);
    }
}

//Y

@include keyframes (reversal-X)
{
    0%{
        @include rotateX(0);
    }

    100%{
        @include rotateX(360deg);
    }
}
//X

//反转

@include keyframes (enlarge)
{
    0%{
        @include scale(1);
    }

    100%{
        @include scale(2);
    }
}

//放大


@include keyframes (kangaroo)
{
    0%{
        @include translateX(-100%);
    }

    35%{
        @include rotateZ(90deg);
    }

    55%{
       width: 0;
    }

    75%{
       @include rotateZ(0);
       width: 50%;
    }
   
    100%{
        @include translate(0);
        @include rotateZ(0deg);
    }
}

//袋鼠拳击

@include keyframes (glide)
{

  0%{
    @include translateX(-100%);
  }

  50%{
    @include translateX(0);
  }

  75%{
    @include translateX(-4%);
  }

  100%{
    @include translateX(0);
  }

}

//撞钟

@include keyframes (boomdown)
{
    0%{
        @include translateY(-200px);
    }

    50%{
        @include translateY(0);
    }

    100%{
        @include translateY(1000px);
    }
}

//下降

@include keyframes (scale)
{
    0%{
        @include scale(.6);
    }

    100%{
        @include scale(1);
    }
}

//缩小

@include keyframes (rollout)
{
    0%{
        @include rotateZ(90deg);
        transform-origin: 100% 0;
    }

    25%{
        @include rotateZ(180deg);
        transform-origin: 100% 0;
    }


    100%{
        @include rotateZ(270deg);
        transform-origin: 100% 0;
        opacity: 0;
    }
}


//翻滚

@include keyframes (remover)
{
    0%{
        @include translateX(-100%);
    }

    100%{
        @include translateX(0);
    }
}


@include keyframes (lxfangun)
{
  0% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  15% {
    transform: translateY(-180px);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  25% {
    transform: translateY(360px);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  32.5% {
    transform: translateY(-180px);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  40% {
    transform: translateY(180px);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  45% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  50% {
    transform: translateY(180px);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  56% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  60% {
    transform: translateY(180px);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  64% {
    transform: translateY(150px);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  66% {
    transform: translateY(180px);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  70%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
}

@include keyframes (indown)
{
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
     opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
