@import 'normalize';
@import 'compass';
@import 'susy';
@import 'react';
@import 'animation';
@import 'grid';
@import 'base';
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true
    )
  );
@include border-box-sizing;

html,
body,
{
    height: 100%;
}

.container,
.doc-page,
.grid-susy
{
    height: 100%;
}

.doc-page
{
    color: #fff;
    background: #007d65;

    @include display-flex;
    justify-content: space-between;
    align-items: center;
    .info
    {
        transform: translateX(-270px);

        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(wrap);
        @include align-items(center);
        & > input,
        & > a
        {
            line-height: 34px;

            width: 15%;
            height: 34px;

            cursor: pointer;
        }
        & > input
        {
            z-index: 1000;

            margin-top: 60px;

            opacity: 0;
        }
        & > a
        {
            z-index: 10;

            margin-top: -35px;

            @include animation(titlergt 1s ease-in-out 100ms forwards);
        }
        input:checked + a
        {
            @include animation(close 1s ease-in-out 100ms forwards);
        }
        p
        {
            margin-top: 20px;

            @include animation(opacity 1s ease-in-out 100ms forwards);
        }
    }
    .h1
    {
        font-size: 40px;
        font-weight: 700;

        @include animation(titlelft 1s ease-in-out 100ms forwards);
    }
    .btn
    {
        display: block;

        text-align: center;

        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    .copyright
    {
        font-size: 12px;

        color: #d3d7d4;
    }
}

.aside
{
    width: 300px;
    height: 100%;
    margin-left: -100%;

    transition: all .5s;

    background: #11264f;
    input
    {
        width: 300px;
        height: 36px;
        margin-top: 40px;

        opacity: 0;
        &:hover + a
        {
            margin-left: -90px;

            transition: all .5s;
        }
        &:checked + a
        {
            background: #4e72b8;
        }
    }
    a
    {
        font-weight: 700;

        display: block;

        margin-top: -40px;
        margin-left: -70px;
        padding: 10px 0;
        padding-left: 50%;

        color: #afdfe4;
    }
    &:after
    {
        font-weight: 700;
        line-height: 50px;

        position: absolute;
        top: 0;
        left: 300px;

        width: 50px;
        height: 50px;

        content: 'Menu';
        cursor: pointer;
        text-align: center;

        color: #fff;
        border-radius: 0 0 5px 5px;
        background: #11264f;
    }
    &:hover
    {
        margin-left: 0;
    }
}

//aside


.grid-susy
{

    .remover{
        @include animation(remover 2s ease-in-out 100ms forwards);
    }

    .h1{
        @include animation(lxfangun 6s ease-in-out 100ms forwards);
    }

    .column
    {
        cursor: pointer;
    }
    .one-column
    {
        &:hover
        {
            @include animation (shake .1s ease-in-out 100ms infinite);
        }
    }
    .two-column
    {
        &:hover
        {
            @include animation(duang .8s cubic-bezier(0,1.68,1,.67) 100ms 1);
        }
    }
    .three-column
    {
        &:hover
        {
            @include animation(reversal-Y 1s cubic-bezier(.47,.09,0,.88) 100ms infinite);
        }
    }
    .four-column
    {
        &:hover
        {
            @include animation(rollout 1s 100ms infinite);
        }
    }
    .five-column
    {
        &:hover
        {
            @include animation(enlarge 1s cubic-bezier(.47,.09,0,.88) 100ms forwards);
        }
    }
    .six-column
    {
        &:hover
        {
            @include animation(kangaroo 2s cubic-bezier(.47,.09,0,.88) 100ms infinite);
        }
    }
    .seven-column
    {
        &:hover
        {
            @include animation(glide .8s cubic-bezier(.02,.44,1,.56) 100ms 1);
        }
    }
    .eight-column
    {
        &:hover
        {
            @include animation(boomdown 1s cubic-bezier(0,1.17,1,-.01) 100ms 1);
        }
    }
    .nine-column
    {
        &:hover
        {
            @include animation(scale 1s 100ms 1);
        }
    }
    .ten-column
    {
        &:hover
        {
            @include animation(reversal-X 1s cubic-bezier(.47,.09,0,.88) 100ms infinite);
        }
    }

    .eleven-column{
        &:hover{
            @include animation(indown 1s cubic-bezier(.47,.09,0,.88) 100ms infinite);
        }
    }
}
