@-moz-keyframes titlelft {
  0% {
    -moz-transform: perspective(0) translateX(-100%);
    transform: perspective(0) translateX(-100%);
  }
  100% {
    -moz-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@-webkit-keyframes titlelft {
  0% {
    -webkit-transform: perspective(0) translateX(-100%);
    transform: perspective(0) translateX(-100%);
  }
  100% {
    -webkit-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@keyframes titlelft {
  0% {
    -moz-transform: perspective(0) translateX(-100%);
    -ms-transform: perspective(0) translateX(-100%);
    -webkit-transform: perspective(0) translateX(-100%);
    transform: perspective(0) translateX(-100%);
  }
  100% {
    -moz-transform: perspective(0) translateX(0);
    -ms-transform: perspective(0) translateX(0);
    -webkit-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@-moz-keyframes titlergt {
  0% {
    -moz-transform: perspective(0) translateX(100%);
    transform: perspective(0) translateX(100%);
  }
  100% {
    -moz-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@-webkit-keyframes titlergt {
  0% {
    -webkit-transform: perspective(0) translateX(100%);
    transform: perspective(0) translateX(100%);
  }
  100% {
    -webkit-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@keyframes titlergt {
  0% {
    -moz-transform: perspective(0) translateX(100%);
    -ms-transform: perspective(0) translateX(100%);
    -webkit-transform: perspective(0) translateX(100%);
    transform: perspective(0) translateX(100%);
  }
  100% {
    -moz-transform: perspective(0) translateX(0);
    -ms-transform: perspective(0) translateX(0);
    -webkit-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@-moz-keyframes topdown {
  0% {
    -moz-transform: perspective(0) translateY(-650%);
    transform: perspective(0) translateY(-650%);
  }
  100% {
    -moz-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@-webkit-keyframes topdown {
  0% {
    -webkit-transform: perspective(0) translateY(-650%);
    transform: perspective(0) translateY(-650%);
  }
  100% {
    -webkit-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@keyframes topdown {
  0% {
    -moz-transform: perspective(0) translateY(-650%);
    -ms-transform: perspective(0) translateY(-650%);
    -webkit-transform: perspective(0) translateY(-650%);
    transform: perspective(0) translateY(-650%);
  }
  100% {
    -moz-transform: perspective(0) translateX(0);
    -ms-transform: perspective(0) translateX(0);
    -webkit-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@-moz-keyframes topdown {
  0% {
    -moz-transform: perspective(0) translateY(-650%);
    transform: perspective(0) translateY(-650%);
  }
  100% {
    -moz-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@-webkit-keyframes topdown {
  0% {
    -webkit-transform: perspective(0) translateY(-650%);
    transform: perspective(0) translateY(-650%);
  }
  100% {
    -webkit-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@keyframes topdown {
  0% {
    -moz-transform: perspective(0) translateY(-650%);
    -ms-transform: perspective(0) translateY(-650%);
    -webkit-transform: perspective(0) translateY(-650%);
    transform: perspective(0) translateY(-650%);
  }
  100% {
    -moz-transform: perspective(0) translateX(0);
    -ms-transform: perspective(0) translateX(0);
    -webkit-transform: perspective(0) translateX(0);
    transform: perspective(0) translateX(0);
  }
}
@-moz-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes close {
  0% {
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }
  25% {
    -moz-transform: rotateX(89deg);
    transform: rotateX(89deg);
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
    -moz-transform: rotateX(89deg);
    transform: rotateX(89deg);
  }
}
@-webkit-keyframes close {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  25% {
    -webkit-transform: rotateX(89deg);
    transform: rotateX(89deg);
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
    -webkit-transform: rotateX(89deg);
    transform: rotateX(89deg);
  }
}
@keyframes close {
  0% {
    -moz-transform: rotateX(0);
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  25% {
    -moz-transform: rotateX(89deg);
    -webkit-transform: rotateX(89deg);
    transform: rotateX(89deg);
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
    -moz-transform: rotateX(89deg);
    -webkit-transform: rotateX(89deg);
    transform: rotateX(89deg);
  }
}
/* line 97, ../sass/an.scss */
p {
  font-size: 18px;
  line-height: 200%;
  text-align: center;
}

/* line 98, ../sass/an.scss */
.yapiskan {
  background: #e74c3c;
  color: white;
  font-size: 24px;
  padding: 5px;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top .5s;
}

/* line 99, ../sass/an.scss */
.gizle {
  -moz-animation: titlergt 1s ease-in-out 100ms forwards;
  -webkit-animation: titlergt 1s ease-in-out 100ms forwards;
  animation: titlergt 1s ease-in-out 100ms forwards;
}

/* line 100, ../sass/an.scss */
.sabit {
  top: 0;
  z-index: 9999;
}
